<launch>
  <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping">
    <!-- 基础坐标系，用于关联激光扫描数据和机器人的位置 -->
    <param name="base_frame" value="base_link"/>
    <!-- 里程计坐标系，用于提供机器人的运动信息 -->
    <param name="odom_frame" value="odom"/>
    <!-- 地图更新间隔，单位为秒 -->
    <param name="map_update_interval" value="0.2"/>
    <!-- 激光雷达的最大有效测量范围 -->
    <param name="maxUrange" value="7.0"/>
    <!-- 激光雷达的最大测量范围 -->
    <param name="maxRange" value="12.0"/>
    <!-- 高斯噪声的标准差 -->
    <param name="sigma" value="0.05"/>
    <!-- 粒子滤波器核大小 -->
    <param name="kernelSize" value="1"/>
    <!-- 线性搜索步长 -->
    <param name="lstep" value="0.05"/>
    <!-- 角度搜索步长 -->
    <param name="astep" value="0.05"/>
    <!-- 迭代次数 -->
    <param name="iterations" value="5"/>
    <!-- 激光数据的高斯模型标准差 -->
    <param name="lsigma" value="0.075"/>
    <!-- 占据栅格地图增益 -->
    <param name="ogain" value="3.0"/>
    <!-- 用于估计的激光扫描跳过数 -->
    <param name="lskip" value="0"/>
    <!-- 平移误差的标准差 -->
    <param name="srr" value="0.1"/>
    <!-- 转向误差的标准差 -->
    <param name="srt" value="0.2"/>
    <!-- 转向后的平移误差标准差 -->
    <param name="str" value="0.1"/>
    <!-- 平移后的转向误差标准差 -->
    <param name="stt" value="0.2"/>
    <!-- 位置更新的最小线性距离 -->
    <param name="linearUpdate" value="0.2"/>
    <!-- 位置更新的最小角度 -->
    <param name="angularUpdate" value="0.1"/>
    <!-- 时间更新间隔 -->
    <param name="temporalUpdate" value="1"/>
    <!-- 重采样阈值 -->
    <param name="resampleThreshold" value="0.5"/>
    <!-- 粒子数 -->
    <param name="particles" value="30"/>
    <!-- 地图的最小x坐标 -->
    <param name="xmin" value="-10.0"/>
    <!-- 地图的最小y坐标 -->
    <param name="ymin" value="-10.0"/>
    <!-- 地图的最大x坐标 -->
    <param name="xmax" value="10.0"/>
    <!-- 地图的最大y坐标 -->
    <param name="ymax" value="10.0"/>
    <!-- 地图分辨率，单位为米 -->
    <param name="delta" value="0.05"/>
    <!-- 重新映射激光雷达数据的话题 -->
    <remap from="scan" to="laser/scan"/>
  </node>
</launch>
